/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/site/
/spec/reports/
/tmp/
/Gemfile.lock
/characters/
/docker/data/
/docs/agenta/
/docs/FlowiseDocs/
/docs/inspect_ai/
/docs/Jongleur/
/docs/langfuse-docs/
/docs/dify-docs/
/docs/ruby-nano-bots/
.env
/docker/.env/
/log/
/vendor/
/docker/*.pem
/docs/agenta.json
.venv/