/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/site/
/spec/reports/
/tmp/
/Gemfile.lock
/characters/
/docker/data/
/docs/agenta/
/docs/FlowiseDocs/
/docs/inspect_ai/
/docs/Jongleur/
/docs/langfuse-docs/
/docs/NanoBotsSpecification.pdf